---
import { en, es } from "../content/content";
---

<div class="disclaimer container" role="alert">
  <span class="lang-en">{en.disclaimer}</span>
  <span class="lang-es">{es.disclaimer}</span>
</div>
